/* .nav-blue-bar{
    display: none;
    width: 100%;
    height: 3px;
    background-color: blue;
    position: relative;
    top: 47px;
} */
.nav-item{
    max-width:170px !important
}
.dropdown-item{
    border-bottom:1px solid #E7E7E7 !important;
    grid-gap:100px !important;
    padding:1rem !important;

}
.dropdown-item:active{
   background-color: transparent!important;


}
.dropdown-item>p{
    margin:0

}
@media screen and (max-width:600px) {
    .navbar-brand{
        width: 150px
    }
    
}


