/* .nav-blue-bar{
    display: none;
    width: 100%;
    height: 3px;
    background-color: blue;
    position: relative;
    top: 47px;
} */
.main-div{
    /* background-image: url("../asset/image 2.png"); */
   
   width: 100% !important;
   justify-content: space-between;
   height: 100%;
} 
.navbar-brand{
    width: 200px
}
.nav-item{
    max-width:170px !important
}
.dropdown .btn-primary{
    font-size: 14px !important;
    font-weight: 700 !important;
    border: none !important;
}


.drop-service{
    /* border-bottom:1px solid #E7E7E7 !important; */
    grid-gap:100px !important;
    padding:0.5rem !important;

}
.dropdown-item:active{
   background-color: transparent!important;


}
.dropdown-item>p{
    margin:0;
    font-size: 13px;

}
.Buttonofnavbar{
    position: relative;
    align-items: center;
    /* top: 10px; */
    padding-left: 0.5rem;
}
.headerLink {
    padding: 0px 10px;
}

.headerLink>.nav-link {
    font-weight: 700 !important;
    font-family: 'Raleway';
    
}

.headerLink>.nav-link:hover {
    color:#315CB3 !important;
}
.darkLink{
    text-decoration: none; 
    font-weight: 500;
    color:#626262;
    font-size: 13px;
    /* padding-left: 16px; */
    
}
.darkLink:hover{
  
    color:#315CB3;
    
}
 .Buttonofnavbar .dropdown-item {
    
   padding: 0.5rem 0 !important;
   margin: 0 !important;

}
  .Buttonofnavbar .dropdown-item:hover {
   /* all:unset !important */

}

.mobile{
    text-decoration: none;
    color:black;
    padding-left: 0.5rem;
    font-size: 14px;
    font-weight: 700;
    color:white;
    
}
.telicon{
justify-content: center;

font-size: 14px;
    color:white

}
.topheader{
    background-color: #088FD8;
    display: none ;
}

.track-dropdown{
    padding: 2rem;
}
@media screen and (max-width:1000px) {
    .Buttonofnavbar{
       
        align-items: flex-start ;
        padding-top: 2.8rem;
        
    }
    #navbarSupportedContent{
        justify-content: flex-start ;
    }
    #number{
        display:none
    }
    .topheader{
      
        display: flex;
    }
}
@media screen and (max-width:600px) {
    .navbar-brand{
        width: 150px
    }
    .Buttonofnavbar{
       
        align-items: flex-start ;
        padding-top: 2.2rem;
        
    }
    
}
