

.signin{
    background-color: #315CB3;
    padding: 4rem;
    
   }
   .signin>div{
    background-color: white;
    max-width: 700px;
    padding:4rem;
    
   }
   .signin>div>h1{
       font-weight: 700;
       font-size: 24px;
       margin-bottom: 2rem;
       color: #315CB3;
   }
   .signin>div>p{
       
       margin-bottom: 2rem;
       
   }
   .signin-bottom{
       border-top: 1px solid #E3E3E3;
       flex-direction: column;
      
   }
   .signin-bottom>p{
       background: white;
       padding: 0.5rem 1.5rem;
       position: relative;
       top: -16px;
   }
   .signin-bottom>div{
      margin-bottom: 1.5rem;
   }
   
   .signin-with-img{
       width:30px;
       margin: 0 1rem ;
       cursor: pointer;
   }
   .signin-span{
       font-weight: 700;
   font-size: 16px;
   line-height: 19px;
   cursor:pointer;
   /* identical to box height */
   
   
   color: #0B2F8A !important;
   }
   @media screen and (max-width:600px){
    .signin{
       
        padding: 2rem;
        
       }
       .signin>div{
       
        padding:2rem;
        
       }
    
}
   

