.about{
    justify-content: space-between;
}.about-left{
    /* max-width: 450px !important; */
}
.about-right{
    /* max-width: 450px !important; */
}




.about-text {
   
    
    font-weight: 400;
    font-size: 16px;
    line-height: 25px
}
.about-tile{
    width: 156.07px;
height: 155.24px;

box-shadow: 0px 0px 3.56872px rgba(0, 0, 0, 0.25);
border-radius: 14.8633px;
}
.about-img{
    height: 100% !important;
}

@media screen and (max-width:1000px) {
   .about-right{
    margin: 0 auto !important;
   }
   .about-img>p{
   font-size: 12px;
}
   .about-img>img{
  width: 40px;
}
    
}