.parent-of-card{
grid-gap:41px;
justify-content: center;
align-items: center;
}


.service-tile-heading{
    font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 33px;
/* identical to box height */

margin: 1rem 0 !important;

color: #4A4A4A;
}

.service-tile-text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155.02%;

color: #727272;
}

.get-qoutes{
    background-color:  #088FD8;
    height: 185px;
    width:100%
}

.quote-btn{
    padding: 16px 32px;
background: #D2584D;
color:white;
text-decoration: none;
border-radius: 11px;
}
.get-qoutes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

@media screen and (max-width:1000px) {
    .get-qoutes{
       
        flex-direction: column;
        justify-content: center;
        
        
    }
    
}
@media screen and (max-width:600px) {
    .service-tile-heading{
     font-size: 18px;
     line-height: 25px;
    }
    
    .service-tile-text{
        font-size: 14px;
    }
    
}