.contact-section{
      /* ff 3.6+ */
      background:-moz-linear-gradient(90deg, rgba(59, 103, 153, 1) 0%, rgba(234, 244, 251, 1) 100%); 

      /* safari 5.1+,chrome 10+ */
      background:-webkit-linear-gradient(90deg, rgba(59, 103, 153, 1) 0%, rgba(234, 244, 251, 1) 100%);
  
      /* opera 11.10+ */
      background:-o-linear-gradient(90deg, rgba(59, 103, 153, 1) 0%, rgba(234, 244, 251, 1) 100%);
  
      /* ie 6-9 */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EAF4FB', endColorstr='#3B6799', GradientType=0 );
  
      /* ie 10+ */
      background:-ms-linear-gradient(90deg, rgba(59, 103, 153, 1) 0%, rgba(234, 244, 251, 1) 100%);
  
      /* global 94%+ browsers support */
      background:linear-gradient(90deg, rgba(59, 103, 153, 1) 0%, rgba(234, 244, 251, 1) 100%);
}
.feelfree{
    font-weight: 600;
font-size: 30px;
line-height: 52px;
color:white !important;
}
.heading{
    font-weight: 500;
font-size: 16px;
line-height: 155.02%;
}

.contactleft-text{
    font-weight: 400;
font-size: 16px ;
line-height: 155.02%;
}

.text-white{
    color:white !important;
}
.contact-icons {
    background: white;;
    padding: 1rem;
    border-radius: 20px;
}
.founder-icon {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.contact-form{
    background:white;
    border-radius: 16px;
    padding: 2rem ;
}
.contact-form label{
    font-size: 14px;
    font-weight:600 ;
    color: #727272;
}
.submit-btn{
    width: 100%;
    padding: 16px 26px;
background: #eaf4fb !important;
color:black !important;
text-decoration: none;
border-radius: 11px;
font-size: 14px !important;
font-weight:600 !important ;
}


@media screen and (max-width:600px) {
    .contact-form{
       
        padding: 1rem ;
    }
    
}
