


#myVideo{
    width: 100% ;
}

.testimonial-container{
   border : 1px solid rgba(0, 0, 0, 0.25);
border-radius: 8px;
padding: 2rem ;
height: 90% !important;
width: 90% !important;
margin-left: 22px;
}

.our-customer-right-text{
    font-weight: 400;
font-size: 14px;
line-height: 22px;
}
.carousel-control-prev {
    left: -30px !important;
}
.carousel-control-next {
    right: -30px !important;
}

@media screen and (max-width:1000px) {
    #width1000{
       flex-direction: column;
    }
    
}