* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: black;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;

}
#root{
margin: 0;
padding: 0;

}
body {
  margin: 0;
  padding: 0;
 
}

.link-a{
  all:unset
  
}
a:hover{
  cursor: pointer;
}
 
.section-margin{
  margin: 2rem 2rem !important ;
}
.section-padding{
  padding: 2rem 2rem !important ;
}
.section-marginX{
margin: 0 2rem !important
}
.section-paddingX{
padding: 0 2rem 
}
.btn-design{
  padding: 0.6rem 1.2rem !important ;
  border: none !important;
  color:white !important;
  font-size: 14px !important;
line-height: 19px; border-radius: 10px;
background: #088FD8;
}

.center-div{
  display: flex;
  align-items: center;
  justify-content:center;
}
.between-div{
  display: flex;
  justify-content:space-between;
  align-items:center;
}
.form-input{
  border:none !important;
  border-bottom: 2px solid #E3E3E3 !important;
backdrop-filter: blur(3px);
border-radius: 0 !important;
   

}
.input-name{
  font-weight: 700 !important;
  font-size: 16px !important;
  
}
.lighptgrey-p{
  font-weight: 500;
  line-height: 20px;
  color: #817979;;
}

.form-input:active{
  outline: none !important;
  border-radius: 0 !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }
 


.text-area{
  font-size: .875rem; 
  line-height: 1.25rem;
  font-weight: 600;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid  #e5e7eb; 
   
  height: 10rem;
  width:100%;

}


.form-btn{
  background: #315CB3 !important;
  box-shadow: 0px 8px 24px -2px rgba(11, 47, 138, 0.6) !important;
  border-radius: 16px !important;
  width: 100% !important;
  padding: 1rem !important;
  max-width: 400px;
  display: block !important;
  margin: 4rem auto;
}
.section-subheading{
  text-transform: uppercase !important;
  font-weight: 600 !important;
 
  font-size: 20px !important;
  line-height: 28px;
  letter-spacing: 0.115em;
  margin: 0 2rem 1rem 2rem;
  color: #217FED;

}
.section-heading{
  text-transform: capitalize !important;
  font-weight: 600 !important;
  border-left: 5px solid #217FED;
  padding: 0 15px;
  font-size: 24px !important;
  line-height: 36px;
  color: #3e3a3a

}
@media screen and (max-width:1200px) {
  .section-margin{
    margin: 2rem 2rem !important ;
  }
  .section-padding{
    padding: 1rem 2rem !important ;
  }
  .section-marginX{
  margin: 0 2rem !important
  }
}

@media screen and (max-width:600px) {
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
  .section-margin{
    margin: .5rem .5rem !important ;
  }
  .section-padding{
    padding: 0.5rem 0.5rem !important ;
  }
 
  .section-marginX{
  margin: 0 .5rem !important
  }
  .container{
    width: 100% !important;
    
  }
  .section-subheading{
    font-size: 16px !important;
    margin: 0 1rem 1rem 1rem !important;
  
  }
  
.section-heading {
 
  
  font-size: 20px !important;
  line-height: 24px;
}
.lighptgrey-p{
  font-weight: 500;
  line-height: 20px;
  font-size: 14px;
  color: #B5ABAB;
}
.form-btn{
  
  padding: 0.8rem !important;
  max-width: 200px;
  margin: 2rem auto;
  font-size: 0.8rem !important;
}
}


