.footer{
    box-shadow:0px -3px 13px 0px rgba(11, 47, 138, 0.3) ;
    padding-bottom: 0  !important;
    background: #0377b5;
}
.footer *{
    color:white !important;
}

.footer-box{
    
    max-width: 250px;
    flex-direction:column;
    line-height: 35px;
    
    
}
.footer-box>img{
    width: 200px;
    
}

.footer-box .bi{
font-size: 1.5rem !important;    

    
}
.footer-box>a{
    font-style: normal;
font-weight: 400;
font-size: 14px;



    
    
}
.address{
    color: black ;
    line-height: 22px !important;
    text-decoration: none !important;
}
.footer-bottom{
    border-top: 1px solid rgb(229, 229, 229);
    padding-top: 1rem;
    margin-top: 2rem;

    
}
.footer-bottom>div{
    display: flex;justify-content: space-between;

    
}
.footer-bottom>div>*{
   font-size:12px;
   flex:1;
   text-align: center;

    
}
.flat-rent{
    
    margin-top: 6rem 
    
}
.flat-rent-a{
    background: #F1F1F1;
    height: 60px;
    display: grid;
   
    /* grid-template-columns: repeat(4, 25%); */
    place-items: center center;
    justify-content: center;
    
}
.flat-rent-a>a{
    width:100%;
    text-align: center;
    font-weight: 800 !important;
font-size: 16px !important;
line-height: 19px
}
.packer{
    margin-bottom:6rem  ;
    padding-top:2rem                                        /*due to 2rem padding*/ 
}
.packer-and-mover{
    display: grid;
    grid-gap: 20px ;
    grid-template-columns: repeat(4, 25%);
    margin-bottom: 1.2rem;
    place-items: center center;
    justify-content: center;
}
.packer-and-mover>a{
    
    cursor:'pointer';
    width:100%;
    text-align: center;
    font-weight: 400;
font-size: 14px;
line-height: 19px;
color:black;
text-decoration: none;
}

@media screen and (max-width:1000px) {
    .packer-and-mover{
        width:100% !important;
        max-width:none !important;
        min-width: none !important;
    }
    
}

@media screen and (max-width:1000px) {
    .Maxwidth-1200{
        flex-direction: column !important;
    }
    .footer-bottom>div{
        flex-direction: column !important;
    
        
    }
    .packer-and-mover{
       
        grid-template-columns: repeat(3, 31%);
       
    }
    
}
@media screen and (max-width:600px) {
    .flat-rent{
        
        margin-top: 2rem 
        
    }
    .packer-and-mover{
        
        grid-gap: 10px ;
        grid-template-columns: repeat(3, 27%);
      
    }
    .footer-box>img{
   width: 150px;
    }
}
